
.header{
    display: flex;
    margin-left: 10%;
}

.header-top{
    font-size: 27px;
    margin-top: 100px;
    color: black;
}

.header-top a{
    text-decoration: none;
}

.header-nav{
    list-style: none;
    display: flex;
    position: absolute;
    right: 10%; 
    margin-top: 90px;
}

.header-about{
    margin: 13px;
}

.header-works{
    margin: 13px;
}

.header-news{
    margin: 13px;
}

.header-contact{
    margin: 13px;
}

.header-instagram{
    margin: 15px;
    height: 20px;
    width: 20px;
}

.house-picture{
    height: 420px;
    width: 100%;
    max-width: 1920px;
    object-fit: cover;
    margin-top: 80px;
}

.About{
    text-align: center;
    margin: 80px 0 70px 0
}

.about-box{
    width: 70%;
    margin-right: auto;
    margin-left : auto;
}

.About-text1{
    margin: 10px 0px 20px 30px;
    font-size: 15px;
}

.About-text2{
    margin: 15px 0px 20px 30px;
    font-size: 15px;
}

.About-text3{
    margin: 15px 0px 20px 30px;
    font-size: 15px;
}

.Works{
    text-align: center;
    margin: 130px 0 70px 0
}

.pic-box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Works-pic1{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.Works-pic2{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.Works-pic3{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.pic-box2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Works-pic4{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.Works-pic5{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.Works-pic6{
    width: 280px;
    height: 180px;
    margin: 15px 15px 15px 15px;
}

.News{
    text-align: center;
    margin: 130px 0 70px 0
}

.News{
    text-align: center;
    margin: 130px 0 70px 0
}

.box-news2020xxx2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 80%;
    height: 50px;
}

.day-news {
    font-size: 15px;
}

.title-news{
    margin-left: 70px;
    font-size: 15px;
    width: 60%;
}

.box-news2020xxx1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    width: 85%;
    height: 50px;
}

.box-news2019xxx3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    width: 85%;
    height: 50px;
}

.box-news2019xxx2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    width: 85%;
    height: 50px;
}

.box-news2019xxx1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    width: 85%;
    height: 50px;
}

.contact{
    text-align:center;
}

.contact-title{
    margin-top: 100px;
}

#name{
    height: 40px;
    width: 700px;
    text-align:center;
    margin: 10px;
}

#email{
    height: 40px;
    width: 700px;
    margin: 10px;
}

.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#message{
    height: 140px;
    width: 700px;
    margin: 10px;
}

.message-font{
    position: relative;
    bottom: 55px;
}

.button{
    margin-top: 15px;
    height: 55px;
    width: 200px;
    font-size: 15px;
    color: white;
    background-color: rgb(43, 43, 43);
}

.button:hover{
    color: rgb(67, 67, 67);
    background-color: white;    
    }

.footer{
    margin-top: 110px;
    display: flex;
    padding: 0.8em;
    background:rgb(42, 42, 42);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mywork{
    font-size: 10px;
}
